font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

h3 {
  color: whitesmoke;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* STYLE IMAGES */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
 
}

/* STYLE NAV BAR */
nav { 
  text-align: center; 
  height:110px
  }
ul { 
   list-style-type: none;
   background-color: #faf0ed;
   overflow:hidden;
   padding: 1em;
  font-size: 20px;
  }
li{
  display: inline;
}

li a {
  text-decoration: none;
  color:rosybrown;
  font-size:2em;
  padding: 4%;
}

.Logo{
  height: 75px;
  padding-top: 5px;
  float:left;
}

h3{
  font-size:76px;
}

h4{
  font-size:30px;
}

button {
  background-color: #FF8863; 
  color: black; 
  width: 100px;
  height:70 px;
  padding:10px;
  border-radius: 12px;

}

button:hover {
  background-color: #F2D2BD;
  color: black;
  
}

.placeholder{
  width:60px ;
  height:500px;
}

h5{
  font-size:30px;
  color:gray;
}
footer {
  padding: 30px;
  background-color:#faf0ed;
}
.row {
  display: flex;
  
}

.column {
  flex: 33.33%;
  padding: 5px;
  
}


.th{
  width:1900px;
}



.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 30px;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
.box1 { background-color: #F2F2F2; }
.box2 { background-color: #F2F2F2; }
.box3 { background-color: #F2F2F2; }
.box4 { background-color:#F2F2F2; }

H1{
  text-align:center;
}

.highlightbutton {
  color: #FF8863;
  text-decoration: underline;
}

.storytopics {
  background-color: FFFFFF;
  display: inline-block;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
}

#storieslist{
  display: inline-block;
  width: 100%;
}

.storiesli{
  color: gray;
  width: 20%;
  list-style-type: none;
  display: inline;
  width: 20%;
}

.heading1{
  font-size: 50px;
  width: 100%;
  text-align: left;
  padding-bottom: 15%;
}
.heading2{
  font-size: 31px;
  width: 100%;
  text-align: left;
}

.heading3{
  font-size: 20px;
  width: 100%;
  text-align: left;
  padding-bottom: 15%;
}